@model WebSiteBanHangMVC.Models.DonHang
@{
    ViewBag.Title = "Sửa thông tin đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Cập nhật ngày xuất đơn
}
<style>
    .mr {
        margin-top: 7px;
    }

    body {
        font-family: Arial, Sans-serif;
    }

    .error {
        color: red;
        font-family: verdana, Helvetica;
    }

    .input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    input, select, textarea {
        width: 70%;
    }
</style>
<div class="form-horizontal">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        @using (Html.BeginForm("Edit", "DonHang", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.DonHangID)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group" style="margin-bottom: 30px;">
                                @Html.LabelFor(model => model.NgayXuat, htmlAttributes: new { @class = " col-md-3" })
                                <div class="col-md-5">

                                    @Html.TextBoxFor(model => model.NgayXuat, new { type = "date", required = true, htmlAttributes = new { @class = "form-control col-md-7" } })
                                    @Html.ValidationMessageFor(model => model.NgayXuat, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 30px;">
                                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = " col-md-3" })
                                <div class="col-md-5">

                                    @Html.TextAreaFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 30px;">
                                <div class="col-md-10" style="text-align: center;">
                                    <input style="width:10%;" type="submit" name="submit" value="Cập nhật" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
